@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "IBM Plex Sans", sans-serif;
}

.content {
    font-size: 20px;
}

.up-h1 {
    font-size: 40px;
    font-family: "Alegreya", serif;
    font-weight: 700;
}

.up-h2 {
    font-size: 24px;
    @apply opacity-50;
}